.famous-root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: .999999;
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d
}
.famous-container,
.famous-group {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: visible;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    pointer-events: none
}
.famous-group {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0
}
.famous-surface {
    position: absolute;
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    pointer-events: auto
}
.famous-container-group {
    position: relative;
    width: 100%;
    height: 100%
}
html {
    background-color: #152935;
}
.backfaceVisibility {
    -webkit-backface-visibility: visible;
    backface-visibility: visible
}
.mobile-safari-fix {
    overflow: auto;
    -webkit-overflow-scrolling: touch
}
.article-cell {
    padding: 5px;
    font-family: arial;
    font-weight: 700;
    font-size: 12pt;
}
.search {
    border-color: #aeaeae;
    padding: 6px 15px 6px 30px;
    margin: 3px;
    background: #1d3649 url(../images/search.png) 4px 6px no-repeat;
    color: #f9f9fb;
}
.rounded {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px
}
.appModial {
                background-color:#264a60;
                color:white;
                border: 3px solid white;
                overflow: hidden;
                z-index: 50;
}
.appText{
    background-color:#264a60;
                color:white;
                word-wrap: break-word;
}
.appTitle{
    text-align: center;
}
.appMargin{
    margin: 7px 10px 0px 10px;
}
input[type=button],
input[type=button]:hover {
    position: relative;
    left: -6px;
    border: 1px solid #adc5cf;
    background: #e4f1f9;
    background: -moz-linear-gradient(top, #e4f1f9 0, #d5e7f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e4f1f9), color-stop(100%, #d5e7f3));
    background: -webkit-linear-gradient(top, #e4f1f9 0, #d5e7f3 100%);
    background: -o-linear-gradient(top, #e4f1f9 0, #d5e7f3 100%);
    background: -ms-linear-gradient(top, #e4f1f9 0, #d5e7f3 100%);
    background: linear-gradient(top, #e4f1f9 0, #d5e7f3 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e4f1f9', endColorstr='#d5e7f3', GradientType=0);
    color: #fff;
    cursor: pointer
}
.lighter {
    width: 95%;
    height: 50px
}
.lighter input[type=text] {
    border: 1px solid #d0d0d0;
    background-color: #fcfcfc
}
.footer {
    border-top: #000 solid 1px;
    background-color: #1d3649;
}
.ib {
    display: inline-block
}
div.a-desc {
    font-family: arial;
    font-style: italic;
    font-size: 10pt;
    font-weight: 400
}
span.v-icon {
    float: left;
    flex: 0 0 70px;
    -webkit-flex: 0 0 70px
}
span.v-text {
    float: left;
    flex: 0 100% 400px;
    -webkit-flex: 0 100% 400px
}
.v-desc {
    font-family: arial;
    font-style: italic;
    font-weight: 400;
    font-size: 8pt
}
.tabbuton {
    font-family: arial;
    font-weight: 700;
    text-align: center;
    line-height: 50px;
    color: #a6266e;
    border-top: #fff solid 1px
}
.tabbutoff {
    font-family: arial;
    font-weight: 400;
    line-height: 50px;
    text-align: center;
    color: #f9f9fb;
    border-top: #fff solid 1px
}
.navigation {
    font-family: arial;
    font-weight: 700;
    font-size: 18pt;
    line-height: 75px;
    text-align: center;
    color: #fff
}
pre {
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    color: #fff;
    margin: 3px;
}
.json-key {
    color: brown;
}
.json-value {
    color: navy;
}
.json-string {
    color: olive;
}
.uinput {
    padding: 6px 15px 6px 15px;
    margin: 3px;
    background-color: #1d3649;
    color: white;
    border-color: white;
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 20px;
}
.helptext {
    font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;
    color: #fff;
    margin: '10px 10px 10px 10px'
}
.helpPics {
    width: 55px;
    float: left;
    margin-left: 5px
}
.helpswipe {
    background: url(../images/swipe.png) no-repeat center top;
}
.help-cell {
    padding: 5px;
    font-family: arial;
    font-weight: 700;
    font-size: 11pt;
    color: #fff;
}
::-webkit-input-placeholder {
    color: #F0F0F0;
}
:-moz-placeholder {
    /* Firefox 18- */
    
    color: #F0F0F0;
}
::-moz-placeholder {
    /* Firefox 19+ */
    
    color: #F0F0F0;
}
:-ms-input-placeholder {
    color: #F0F0F0;
}
.c-rating {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 120px;
}
.c-rating__item {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 24px;
    -ms-flex: 0 0 24px;
    flex: 0 0 24px;
    height: 24px;
    background: url("../images/stars.svg");
    background-position: 0 0;
    cursor: pointer;
}
.c-rating__item:hover,
.c-rating__item.is-active {
    background-position: -24px 0;
}
.center {
    margin: 0 auto;
}
.pitchText {
    font-size: 80%;
    padding-right: 10px;
    color: #aeaeae;
    max-height: fit-content;
    margin-bottom: 4px;

}
.bullet{
    color:white;
}
.titleText{
    color:#f9f9fb;
    max-height: fit-content;
}
.pretext {
    margin-right: 5px;
}
.masterSurface {
    max-height: fit-content;
}
.floatLeft {
    float: left;
}
.floatRight {
    float: right;
}
a, a:visited {
    color: white;
}
.footerBar {
    background-color: #1d3649;
}
.icon-default {
    color: #FFFFFF;
}
.icon-red {
    color: red;
}
.plus-button-padding {
    padding-left: 10px;
}